<table class="table table-striped">
	<thead><tr><th>List of NFC Quarterbacks</th></tr>
		   <tr><th>Team</th><th>Number</th><th>Position</th><th>Name</th><th>College</th></tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
		<tr><td><%= player.team %></td><%# <-- ACTIVE RECORD RELATION %><td><%= player.number %></td><td><%= player.position %></td><td><%= player %></td><td><%= player.college %></td></tr>
		<% end %>
	</tbody>
</table>	